@import 'big-heading/style.css';
@import 'call-to-action/style.css';
@import 'generic-text/style.css';
@import 'graphic-diptych/style.css';
@import 'product-grid/style.css';
@import 'site-map/style.css';

.america {
	background-color: red;
}

section {
	background-color: var(--backdrop);
}

.site-header {
	background-color: black;
	color: white;

	position: sticky;
	top: 0;
	z-index: 5;
}
