graphic-diptych {
	display: grid;
	gap: 20px;

	padding-block: clamp(100px, 8vh, 200px);

	@container (min-width: 700px) {
		grid-template-columns: 1fr 1fr;

		text-content {
			align-self: center;
		}
	}

	.flipped & {
		/* revisit */
	}

	.button {
		margin-top: 10px;
	}
}

.flipped {
	graphic-diptych {
		picture {
			order: 2;
		}
	}
}

.centered {
	graphic-diptych {
		text-content {
			display: grid;
			place-items: center;
			text-align: center;
		}
	}
}
