@layer structure;

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
	/* 
		be at least a full viewport height
		consider 100svh and 100dvh too 
	*/
}

main {
	flex-grow: 1; 
	/* 
		fill up available space 
		which happens to push the footer 
		down to the bottom of the body
	*/
}

inner-column {
	display: block;
	/*	width: 98%; maybe? */
	max-width: 1100px; /* could be a variable in settings */
	margin-inline: auto; /* horizontally center this by default */
	padding: 30px 16px; 
		/* 
			a loose default for now 
			you probably want this in the individual modules
		*/

	container-type: inline-size;
}

/*
.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}
*/
