@layer typography;

/* Should we pull in @fonts here? */
/* 
	don't think you can... might have to be higher up (the top of) the food chain! 
	but ideally... they'd be here...  $todo - look into this
*/

body {
	font-family: sans-serif;
}

.calm-voice, p {
	font-size: 1rem;
	line-height: 1.4;

	strong {
		font-weight: 700;
	}

	em {
		font-style: italic;
	}
}

.strong-voice {
	font-size: 24px;
}

.attention-voice {
	font-size: 30px;
}

.loud-voice {
	font-family: sans-serif; /* opt in to display fonts */
	font-size: clamp(36px, 5vw, 60px);

	@media (min-width: 600px) {
		font-weight: 700; /* or variable font */
	}
}

.quiet-voice {
	font-size: 0.75rem;
	line-height: 1.4;
}

/* 
	these would be scoped to section or to an article element 
	this is just a loose setting for now
	or smaller group of article-like styles such as a <text-content> custom element 
*/
article {
	p {
		+ p {
			margin-top: 1em;
		}
	}

	h2 {
		+ p {
			margin-top: 1em;
		}
	}

	/* etc */
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
